@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat/static/Montserrat-Black.ttf);
  src: url(../assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
  src: url(../assets/fonts/Montserrat/static/Montserrat-Italic.ttf);
  src: url(../assets/fonts/Montserrat/static/Montserrat-Light.ttf);
  src: url(../assets/fonts/Montserrat/static/Montserrat-Medium.ttf);
  src: url(../assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
}
